.picked-variable {
    display: block;
    margin-bottom: 10px;
}

.pickable-vars {
    border: 1px solid #ced4da;
    border-top: none;
}

.equation-list-item {
    padding-left: 0;
    padding-right: 0;
}

.equation-list-item > .row > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results > div > div {
    text-align: center;
}

.expander {
    padding: 0;
    display: inherit;
    margin: 0 5px;
    border: none;
}
.expander.expanded {
    transform: rotate(180deg);
}

.ellipses-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
