.picked-variable {
    display: block;
    margin-bottom: 10px;
}

.pickable-vars {
    border: 1px solid #ced4da;
    border-top: none;
}

.equation-list-item {
    padding-left: 0;
    padding-right: 0;
}

.results > div > div {
    text-align: center;
}

.text-button {
    border: none;
    transform: rotate(180deg);
}
.text-button.expanded {
    transform: rotate(0deg);
}

.description-col {
    display: flex;
}

.ellipses-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
